{% extends 'base.html'%}


<h1>Followed by: {{current_user.username}}</h1>

<ul class="followers">

    {% for follower in followers%}
    <li class="follower">
        {# Single composition #}
        <div class="profile-thumbnail">
            <a href="{{ url_for('main.user', username=follower.artist.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ follower.artist.unicornify(size=64) }}">
            </a>
        </div>
    </li>

    {% if follower.artist.username == current_user.username %}
    <a class="btn btn-default" href="{{ url_for('.edit_composition' , slug = follower.slug)}}">
        Edit Composition
    </a>
    {% endif %}



    {% if current_user.is_administrator() %}
    <a class="btn btn-default" href="{{ url_for('.admin_edit_profile', slug = follower.slug) }}">
        Edit Composition as Admin
    </a>
    {% endif %}


    {% endfor %}
</ul>