{% extends 'base.html'%}
{% import "_macros.html" as macros %}

{% block page_content %}
<h1>Following: {{current_user.username}}</h1>
<table class="table table-light">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">User</th>
        <th scope="col">Since</th>
      </tr>
    </thead>
    <tbody>

    {% for follow in follows%}

    {% if follow.user != user %}
    <li class="following">
        {# Single composition #}
        <tr height=75px>
            <td>
        <img class="profile-thumbnail">
            <a href="{{ url_for('.user', username=follow.user.username) }}">
            
                <img class="img-rounded profile-thumbnail" src="{{ follow.user.unicornify(size=64) }}">
            </td>
            <td><a href="{{ url_for('main.user', username=follow.user.username) }}">{{follow.username}}</a></td>
            
            <td>    {{ moment(follow.timestamp).format('L') }}</td>>
            </a>
        </div>
    </li>


    </a>


    {% endif %}
        {% endfor %}

    </tbody>
</table>


{% endblock %}