{% extends 'base.html'%}

{% block page_content %}
<h1>Followed by: {{current_user.username}}</h1>


<ul class="followers">

    {% for follow in follows%}
    <li class="follower">
        {# Single composition #}
        <div class="profile-thumbnail">
            <a href="{{ url_for('main.user', username=follow.artist.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ follow.artist.unicornify(size=64) }}">
            </a>
        </div>
    </li>

    {% if follower.artist.username == current_user.username %}
    <a class="btn btn-default" href="{{ url_for('.edit_composition' , slug = follow.slug)}}">
        Edit Composition
    </a>
    {% endif %}



    {% if current_user.is_administrator() %}
    <a class="btn btn-default" href="{{ url_for('.admin_edit_profile', slug = follow.slug) }}">
        Edit Composition as Admin
    </a>
    {% endif %}


    {% endfor %}
</ul>

{% endblock %}