{% extends 'base.html'%}
{% import "_macros.html" as macros %}

{% block page_content %}
<h1>Followed by: {{current_user.username}}</h1>


<ul class="followers">

    {% for follow in follows%}
    {% if follow.user != user %}
    <li class="following">
        {# Single composition #}
        <div class="profile-thumbnail">
            <a href="{{ url_for('.user', username=follow.user.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ follow.user.unicornify(size=64) }}">
            </a>
        </div>
    </li>

    {{ moment(follow.timestamp).format('L') }}
    </a>


    {% endif %}
    {% endfor %}
</ul>
<div class="pagination">
    {{ macros.pagination_widget(pagination, endpoint) }}
</div>

{% endblock %}