{% extends 'base.html'%}


{%import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}


{% block title %} {{super()}} Home {% endblock title%}

{% block page_content %}

<h1>Welcome to Ragtime, {% if current_user.is_authenticated %} {{current_user.username}}
    {% else %} Anonymous {% endif%}
</h1>

<div>
    {% if not known %}
    <p> Mucho gusto! (Nice to meet you!) </p>
    {% else %}
    <p> Enjoy your stay.</p>
    {% endif %}
</div>
{{wtf.quick_form(form)}}

{{ compositions|length }}




{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}

{#{% include '_compositions.html' %}#}


<div class="composition-tabs">
    <ul class="nav nav-tabs">
        <li {% if not show_followed %} class="active"{% endif %}>
            <a href="{{ url_for('.show_all') }}">All</a>
        </li>
        {% if current_user.is_authenticated %}
        <li {% if show_followed %} class="active"{% endif %}>
            <a href="{{ url_for('.show_followed') }}">Followers</a>
        </li>
        {% endif %}
    </ul>
    {% include '_compositions.html' %}
</div>

{% endblock %}

