{% extends 'base.html'%}


{%import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}


{% block title %} {{super()}} Home {% endblock title%}

{% block page_content %}

<h1>Welcome to Ragtime, {% if current_user.is_authenticated %} {{current_user.username}}
    {% else %} Anonymous {% endif%}
</h1>

<div>
    {% if not known %}
    <p> Mucho gusto! (Nice to meet you!) </p>
    {% else %}
    <p> Enjoy your stay.</p>
    {% endif %}
</div>
{{wtf.quick_form(form)}}

{{ compositions|length }}

<ul class="compositions"> {% for composition in compositions%}
    <li class="composition"> {# Single composition #}
        <div class="composition-thumbnail"> <img class="img-rounded profile-thumbnail"
                    src="{{ composition.artist.unicornify(size=64) }}"> </div>
        <div class="composition-content"> {{ composition.description }}
            <div class="composition-date">{{ moment(composition.timestamp).fromNow() }}</div>
            <div class="composition-artist">{{ composition.title }}</div>
            <div class="composition-release_type">{{composition.release_type}}
            {# ... #}
        </div>
    </li>
</ul>
{% endfor %}


{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}

